@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

:root {
  --band-color: #303a52;
  --text-color: #e7f6f2;
  --hamburger-menu-color: rgba(16, 41, 92, 0.9);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
  background-color: #101318;
  color: #eeeeee;
}

.bar {
  width: 100%;
  height: 50px;
  background-color: var(--band-color);
  position: fixed;
  top: 0;
}
/* reset button style for hamburger btn */
header > button {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  vertical-align: middle;
  text-align: inherit;
  font: inherit;
  -webkit-appearance: none;
  appearance: none;
}
/* Hamburger btn */
.btn {
  position: fixed;
  top: 15px;
  right: 16px;
  z-index: 10;
  width: 35px;
  height: 20px;
  cursor: pointer;
}

.btn-line {
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #d6d5d5;
  transition: 0.2s;
}

.btn-line::before,
.btn-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d6d5d5;
  transition: 0.5s;
}
.btn-line::before {
  transform: translateY(-12px);
}
.btn-line::after {
  transform: translateY(12px);
}

.btn-line.open {
  background-color: transparent;
}
.btn-line.open::before,
.btn-line.open::after {
  content: "";
  background-color: var(--text-color);
  transition: 0.2s;
}
.btn-line.open::before {
  transform: rotate(45deg);
}
.btn-line.open::after {
  transform: rotate(-45deg);
}
/* Hamburger btn end */
/* Contents of Hamburger btn */
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -70%;
  width: 70%;
  height: 100vh;
  color: #efefef;
  transition: 0.3s;
  font-size: 1.7rem;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.menu-list:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.menu-list a,
.card-btn a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.menu-list a {
  line-height: 30px;
  width: 70px;
  text-align: center;
}

.menu.open {
  position: absolute;
  right: 0;
  padding-top: 60px;
}
/* Contents of Hamburger btn end */
.cover {
  height: 50vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("./img/cover-img.jpg");
  color: var(--text-color);
}

.cover-title {
  padding-top: 22vh;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.cover p {
  font-size: 1.8rem;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 5px;
}

.cover-btn {
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100px;
  height: 35px;
  margin: 35px 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cover-btn:active {
  box-shadow: inset 3px 3px 10px -5px #012a6a;
}

.cover a {
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
}

.fa-brands,
.far,
.fas {
  margin-right: 2px;
}

#about,
#projects {
  max-width: 850px;
  margin: 0 auto;
  padding: 60px 50px 0;
  font-size: 1.7rem;
}

#about > h2,
#projects > h2 {
  color: var(--text-color);
}

.about p {
  margin-top: 10px;
}

.about a {
  color: #98d45f;
  font-weight: 600;
  text-decoration: none;
}

.about-container-skill {
  margin-top: 15px;
}

.skill-text {
  text-decoration: underline;
}

.skill-text-icon {
  display: inline-block;
}

#projects {
  text-align: right;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 50px;
}

#projects h2 {
  padding-right: 30px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

#projects .card {
  display: flex;
  flex-direction: column;
  background-color: #4ecca3;
  color: #232931;
  padding: 7px;
  border-radius: 3px;
  width: 30%;
  margin-bottom: 10px;
}

#projects .card-title {
  text-align: center;
  font-size: 1.6rem;
}

#projects .card-text {
  margin: 15px 0 15px;
  text-align: justify;
}

#projects .card-btn-container {
  margin-top: auto;
  text-align: center;
}

#projects .card-btn-container > p {
  margin-bottom: 10px;
  font-size: 15px;
  height: 40px;
  text-align: left;
}

#projects .card-btn {
  background-color: var(--band-color);
  color: var(--text-color);
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  border: none;
  width: 40%;
  cursor: pointer;
}

#projects img {
  width: 100%;
  object-fit: cover;
  margin-top: 5px;
}

.contact {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  font-style: italic;
}

.contact a {
  text-decoration: none;
  color: var(--text-color);
}

/* FOOTER */
footer {
  font-size: 1.2rem;
  color: var(--text-color);
  width: 100%;
  height: 40px;
  background-color: var(--band-color);
}

footer p {
  text-align: center;
  line-height: 40px;
}
/* tablet to pc */
@media screen and (min-width: 600px) {
  .btn {
    display: none;
  }

  .menu {
    /* normal menu direction */
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50px;
  }

  .menu a:hover {
    border-bottom: 2px solid var(--text-color);
  }

  .menu-list {
    height: 100%;
  }

  .menu-list:hover {
    background-color: transparent;
  }
}
/* mobile */
@media screen and (max-width: 599px) {
  .menu {
    background-color: var(--hamburger-menu-color);
  }

  #about {
    padding: 50px 30px 0;
  }

  #about > p {
    text-align: justify;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container-skill p {
    margin-bottom: 20px;
  }

  .skill-text-icon {
    display: block;
    margin-block: 3px;
  }

  #projects {
    padding-top: 50px;
  }

  #projects .card {
    width: 80%;
    margin-bottom: 20px;
  }
}
